# JavaScript/TypeScript
javascript/**/node_modules/

# Haxe
haxe/**/*.n
haxe/**/*.lua
haxe/**/love/
haxe/**/node_modules/
haxe/**/bin/
haxe/**/dist/

# Rust
rust/**/target/

# Emacs Lisp
emacs-lisp/funda-haxe-mode.el

# Red
red/**/red

# Lua
lua/libs
lua/terra

# OCaml
ocaml/**/*.cmx
ocaml/**/*.cmi
ocaml/**/*.o
ocaml/**/_build

# D
d/**/.dub

# Kotlin
kotlin/**/*.jar

# Other
nim/**/janet*
raku/**/janet*
**/*.so