# JavaScript/TypeScript
javascript/**/node_modules/

# Haxe
haxe/**/*.n
haxe/**/*.lua
haxe/**/love/

# Rust
rust/**/target/

# Emacs Lisp
emacs-lisp/funda-haxe-mode.el

# Red
red/red

# Lua
lua/libs
lua/terra

# OCaml
ocaml/**/*.cmx
ocaml/**/*.cmi
ocaml/**/*.o
ocaml/**/_build

# D
d/.dub